<!DOCTYPE html>
<html>
<head>
  <title>- Site crée par billot_t @ epitech -</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1>A propos :</h1>
<p>Je suis actuellement en 1ere Année à Epitech Paris!</br>
    J'ai des connaisances en C, HTML, CSS, et je travaille actuellement sur ce site pour apprendre le Ruby on Rails(v.4).</p>
<%= yield %>

</body>
</html>